<mat-toolbar color="primary">
    <a mat-button (click)="reloadPage()" id="title"><mat-icon>currency_bitcoin</mat-icon> Crypto Tracker</a>
    <a mat-button routerLink="/login" id="login"><mat-icon>login</mat-icon> Log In</a>
</mat-toolbar>

<div class="signup-container">
    <div class="signup-card">
        <div class="card-title">
            <h1>Create Account</h1>
            <p>Already have an account? <a routerLink="/login">Sign In</a><p>
        </div>
        <form class="form-group" autocomplete="off" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <input type="text" name="name" placeholder="Name" formControlName="name" aria-autocomplete="none">
            <input type="email" name="email" placeholder="Email" formControlName="email" aria-autocomplete="none">
            <input type="password" name="password" placeholder="Password" formControlName="password" autocomplete="new-password">
            <input type="submit" value="Sign Up">
        </form>
    </div>
</div>
