<mat-toolbar color="primary">
    <a mat-button (click)="reloadPage()" id="title"><b>Crypto</b>Tracker</a>
    <span class="spacer"></span>
    <a mat-raised-button color="accent" routerLink="/login" id="login"><mat-icon>login</mat-icon> Log In</a>
</mat-toolbar>

<div class="signup-container">
    <div class="signup-card">
        <div class="card-title">
            <h1>Create Account</h1>
            <p>Already have an account? <a routerLink="/login">Log In</a><p>
            <p><b>Warning</b>: For security reasons, avoid password recycling.
                You should use a  unique password.
            </p>
        </div>
        <form class="form-group" autocomplete="off" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <input type="text" name="name"  maxlength="10" required placeholder="Name (max. 10 characters)" formControlName="name" aria-autocomplete="none">
            <input type="email" name="email" maxlength="100" required placeholder="Email" formControlName="email" aria-autocomplete="none">
            <input type="password" name="password" pattern=".{8,}" maxlength="30"  required placeholder="Password (min. 8 characters)" formControlName="password" autocomplete="new-password">
            <input type="submit" value="Sign Up">
        </form>
    </div>
</div>
