.mat-icon{
    vertical-align:sub;
}

.mat-toolbar{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: small;
    color: #ffffff;
}

#username{
    font-size: small;
    color: #ffffff;
}

#logout{
    font-size: small;
    color: #ffffff;
}